In [1]:
import urllib.request
import json
import dml
import prov.model
import datetime
import uuid
import statistics
import pandas as pd
from bson.code import Code

'''Retrieve some datasets'''

startTime = datetime.datetime.now()

# Set up the database connection.
client = dml.pymongo.MongoClient()
repo = client.repo
repo.authenticate('anuragp1_jl101995', 'anuragp1_jl101995')

# When Trial is True, perform function on random sample of size SIZE)
SIZE = 100

def get_collection(coll_name):
    # Collection for station sample
    sample_coll_name = coll_name.split(
        'repo.anuragp1_jl101995.')[1] + '_sample'
    repo.dropPermanent(sample_coll_name)
    repo.createPermanent(sample_coll_name)


    return eval(coll_name)

print('Loading citibike_data from Mongo')
citibike_data = repo.anuragp1_jl101995.citibike.find()

print('Cleaning citibike_data')
cb_data = []
for entry in citibike_data:
    date = entry['starttime']
    date = date[:date.index(' ')]
    if '-' in date:
        date = date.split('-')
    elif '/' in date:
        date = date.split('/') 
    # 5/31/2015 12:12:12
    # date = ['5', '31, '2015']
    # [2015 - 4 - 10]

    if len(date[0]) < 2:
        date[0] = '0' + date[0]
    if len(date[1]) < 2:
        date[1] = '0' + date[1]
    if len(date[2]) < 2:
        date[2] = '0' + date[2]

    if date[0] in ['2014', '2015', '2016']:
        new_date = date[0] + date[1] + date[2]
        cb_data.append([new_date, entry['start station name']])

    elif date[2] in ['2014', '2015', '2016']:
        new_date = date[2] + date[0] + date[1]
        cb_data.append([new_date, entry['start station name']])

print('Creating pandas dataframe from cleaned citibike_data')
cb_df = pd.DataFrame(cb_data, columns = ['date', 'start_station_name'])


print('Getting citibike totals for each day')
cb_df['Count'] = cb_df['start_station_name']
counted_cb_df = pd.DataFrame(cb_df.groupby(['date','start_station_name'], as_index=False)['Count'].count())
counted_cb_df

Loading citibike_data from Mongo
Cleaning citibike_data
Creating pandas dataframe from cleaned citibike_data
Getting citibike totals for each day

            date             start_station_name  Count
0       20140101                1 Ave & E 15 St     60
1       20140101                1 Ave & E 18 St     32
2       20140101                1 Ave & E 30 St     18
3       20140101                1 Ave & E 44 St     12
4       20140101               10 Ave & W 28 St     18
5       20140101               11 Ave & W 27 St     10
6       20140101               11 Ave & W 41 St     25
7       20140101               12 Ave & W 40 St      9
8       20140101                2 Ave & E 31 St     62
9       20140101                2 Ave & E 58 St     17
10      20140101        3 Ave & Schermerhorn St      4
11      20140101                5 Ave & E 29 St     19
12      20140101              6 Ave & Broome St     12
13      20140101               6 Ave & Canal St     10
14      20140101                6 Ave & W 33 St     35
15      20140101                8 Ave & W 31 St     37
16      20140101                8 Ave & W 33 St     26
17      20140101                8 Ave & W 52 St     39
18      20140101                9 Ave & W 14 St     34
19      20140101                9 Ave & W 16 St     21
20      20140101                9 Ave & W 18 St     20
21      20140101                9 Ave & W 22 St     26
22      20140101                9 Ave & W 45 St     47
23      20140101        Adelphi St & Myrtle Ave     12
24      20140101        Allen St & E Houston St     36
25      20140101           Allen St & Hester St     28
26      20140101        Allen St & Rivington St     35
27      20140101         Ashland Pl & Hanson Pl     13
28      20140101  Atlantic Ave & Fort Greene Pl     17
29      20140101       Atlantic Ave & Furman St      8
...          ...                            ...    ...
334702  20160630               W 59 St & 10 Ave     63
334703  20160630             W 63 St & Broadway    109
334704  20160630         W 64 St & West End Ave     96
334705  20160630             W 67 St & Broadway    116
334706  20160630        W 70 St & Amsterdam Ave    120
334707  20160630         W 74 St & Columbus Ave     47
334708  20160630         W 76 St & Columbus Ave     85
334709  20160630             W 78 St & Broadway     93
334710  20160630    W 82 St & Central Park West     54
334711  20160630             W 84 St & Broadway    122
334712  20160630         W 84 St & Columbus Ave     87
334713  20160630         W Broadway & Spring St    187
334714  20160630          Warren St & Church St    111
334715  20160630    Washington Ave & Greene Ave     26
334716  20160630      Washington Ave & Park Ave     39
334717  20160630                Washington Park     29
334718  20160630          Washington Pl & 6 Ave    106
334719  20160630       Washington Pl & Broadway    140
334720  20160630        Water - Whitehall Plaza     74
334721  20160630        Watts St & Greenwich St    161
334722  20160630          West St & Chambers St    373
334723  20160630                 West Thames St    164
334724  20160630           William St & Pine St    110
334725  20160630       Willoughby Ave & Hall St     41
334726  20160630  Willoughby Ave & Tompkins Ave     14
334727  20160630   Willoughby Ave & Walworth St     21
334728  20160630       Willoughby St & Fleet St     46
334729  20160630   Wythe Ave & Metropolitan Ave    107
334730  20160630          Yankee Ferry Terminal      7
334731  20160630               York St & Jay St    105

[334732 rows x 3 columns]

In [2]:
print('Starting')
repo.dropPermanent('citibike_startstation_byday')
repo.createPermanent('citibike_startstation_byday')

for index, row in counted_cb_df.iterrows():
    #datestring = str(row[0])[4:6] + '/' + str(row[0])[6:8] + '/' + str(row[0])[0:4]
    insert_this = {'Date': row[0], 'Start_Station' : row[1], 'Count': int(row[2])}
    repo.anuragp1_jl101995.citibike_startstation_byday.insert_one(insert_this)
    
print('Finished')

Starting
Finished