In [1]:
import urllib.request
import json
import dml
import prov.model
import datetime
import uuid
import statistics
from bson.code import Code


contributor = 'anuragp1_jl101995'
reads = ['anuragp1_jl101995.subway_stations,' 'anuragp1_jl101995.turnstile']
writes = ['anuragp1_jl101995.turnstile_coordinates']


# Set up the database connection.
client = dml.pymongo.MongoClient()
repo = client.repo
repo.authenticate('anuragp1_jl101995', 'anuragp1_jl101995')

subwaydata = repo.anuragp1_jl101995.subway_stations.find()
turnstiledata = repo.anuragp1_jl101995.turnstile.find()

repo.dropPermanent('turnstile_coordinates')
repo.createPermanent('turnstile_coordinates')

map_function_subway = Code('''function() {
                            emit(this.name, this.name);
                             }
                            ''')

map_function_turnstile = Code('''function() {
                            emit(this.STATION, this.STATION);
                             }
                            ''')

reduce_function = Code('''function(key, values) {
                               var names = [];
                               for (var i = 0; i < values.length; i++) {
                                if(!(names.indexOf(values[i]) >= 0)) {
                               names.push(values[i]);
                               }
                            }
                                    var names_obj = {};
                                    for (var i = 0; i < names.length; ++i){
                                        names_obj[i] = names[i];
                                    }
                                 return names_obj;
                               }''')

# use map reduce to get names for subway_stations
station_result = repo.anuragp1_jl101995.subway_stations.map_reduce(map_function_subway, reduce_function, 'anuragp1_jl101995.turnstile_coordinates')
station_names = []
for doc in station_result.find():
        station_names.append(doc['_id'])

# print(station_names)
# for name in station_names:
# 	print(name)

turnstile_result = repo.anuragp1_jl101995.turnstile.map_reduce(map_function_turnstile, reduce_function, 'anuragp1_jl101995.turnstile_coordinates')
turnstile_names = []
for doc in turnstile_result.find():
    turnstile_names.append(doc['_id'])

print(str(len(set(station_names))))
print(str(len(set(turnstile_names))))


#print(turnstile_names)
# print('\n')
# for name in turnstile_names:
# 	print(name)

# get matches
matched_pairs = [] # tuples of matches 
subway_matches, turnstile_matches = set(), set() # all matched names  

for station in station_names:
    this_station = station.lower()
    this_station = this_station.replace('rd', '')
    this_station = this_station.replace('th', '')
    this_station = this_station.replace('st', '')
    this_station = this_station.replace('e', '')

    for stile in turnstile_names:
        this_stile = stile.lower()
        this_stile = this_stile.replace('rd', '')
        this_stile = this_stile.replace('th', '')
        this_stile = this_stile.replace('st', '')
        this_stile = this_stile.replace('e', '')

        if this_stile == this_station:
            matched_pairs.append((station, stile))
            subway_matches.add(station)
            turnstile_matches.add(stile)
            #station_names.remove(station)
            #turnstile_names.remove(stile)
            break


# print(matched_pairs)
# unmatched_subway = set(station_names) - subway_matches
# unmatched_turnstile = set(turnstile_names) - turnstile_matches
# print('\n')
# print(unmatched_subway)
# print('\n')
# print(unmatched_turnstile)

360
568

In [2]:
# matched_pairs = [] # tuples of matches 
# subway_matches, turnstile_matches = set(), set() # all matched names  

# for station in station_names:
#     this_station = station.lower()
#     this_station = this_station.replace('rd', '')
#     this_station = this_station.replace('th', '')
#     this_station = this_station.replace('st', '')
#     this_station = this_station.replace('e', '')

#     for stile in turnstile_names:
#         this_stile = stile.lower()
#         this_stile = this_stile.replace('rd', '')
#         this_stile = this_stile.replace('th', '')
#         this_stile = this_stile.replace('st', '')
#         this_stile = this_stile.replace('e', '')

#         if this_stile == this_station:
#             matched_pairs.append((station, stile))
#             subway_matches.add(station)
#             turnstile_matches.add(stile)
#             #station_names.remove(station)
#             #turnstile_names.remove(stile)
#             break

In [3]:
manual_matches = {('Jamaica - 179th St', 'JAMAICA 179 ST'),('Kingston - Throop Aves', 'KINGSTON-THROOP'),
                  ('149th St - Grand Concourse', '149/GRAND CONC'),('Nereid Ave (238 St)', 'NEREID AV'),('Smith - 9th Sts', 'SMITH-9 ST'),
                  ('Whitehall St', 'WHITEHALL S-FRY'),('Delancey St', 'DELANCEY/ESSEX'),('66th St - Lincoln Ctr', '66 ST-LINCOLN'),
                  ('Essex St', 'DELANCEY/ESSEX'),('42nd St - Port Authority Bus Term','42 ST-PORT AUTH'), ('8th St - NYU', '8 ST-NYU'),
                  ('Roosevelt Island - Main St', 'ROOSEVELT ISLND'),('3rd Ave - 138th St', '3 AV 138 ST'),('Lower East Side - 2nd Ave', '2 AV'),
                  ('161st St - Yankee Stadium', '161/YANKEE STAD'),('W 4th St - Washington Sq (Upper)', 'W 4 ST-WASH SQ'),('4th Ave', '4 AV-9 ST'), 
                  ('Jackson Hts - Roosevelt Av', '82 ST-JACKSON H'),('Lexington Ave - 53rd St', 'LEXINGTON AV/53'),('34th St - Penn Station', '34 ST-PENN STA'),
                  ('Bleecker St (Downtown)', 'BLEECKER ST'), ('Central Park North (110th St)', 'CENTRAL PK N110'),('Grand Ave - Newtown', 'GRAND-NEWTOWN'),
                  ('Howard Beach - JFK Airport', 'HOWARD BCH JFK'),('Vernon Blvd - Jackson Ave', 'VERNON-JACKSON'),('Lexington Ave - 63rd St', 'LEXINGTON AV/63'),
        ('Forest Hills - 71st Av', 'FOREST HILLS 71'),('Woodside - 61st St', '61 ST WOODSIDE'),('Flushing - Main St', 'FLUSHING-MAIN'),
        ('Jamaica Ctr - Parsons / Archer','JAMAICA CENTER'), ('Ave P', 'AVENUE P'),('15th St - Prospect Park', '15 ST-PROSPECT'), 
        ('Briarwood - Van Wyck Blvd', 'BRIARWOOD'),('72nd St', '72 ST'),('Aqueduct - North Conduit Av', 'AQUEDUCT N.COND'),
        ('Wyckoff Ave', 'MYRTLE-WYCKOFF'),('Broadway - Nassau St', 'NASSAU ST'),('63rd Dr - Rego Park', '63 DR-REGO PARK'),
        ('5th Ave - Bryant Pk', '5 AVE'),('Park Pl', 'PARK PLACE'),('Broadway Junction', 'BROADWAY JCT'),('Coney Island - Stillwell Av', 'CONEY IS-STILLW'),
        ('Broadway - Lafayette St', "B'WAY-LAFAYETTE"),('Eastchester - Dyre Ave', 'EASTCHSTER/DYRE'),('Hoyt - Schermerhorn Sts', 'HOYT-SCHER'),
        ('Times Sq - 42nd St', 'TIMES SQ-42 ST'),('Mets - Willets Point', 'METS-WILLETS PT'),('Norwood - 205th St', 'NORWOOD 205 ST'),
        ('Bay Ridge - 95th St', 'BAY RIDGE-95 ST'),('W 4th St - Washington Sq (Lower)'), ('W 4 ST-WASH SQ'),('40th St', '40 ST LOWERY ST'),
        ('68th St - Hunter College', '68ST-HUNTER CO'),('138th St - Grand Concourse', '138/GRAND CONC'),('137th St - City College', '137 ST CITY COL'),
        ('Queens Plz', 'QUEENS PLAZA'),('75th St - Eldert Ln', '75 ST-ELDERTS'),('59th St - Columbus Circle', '59 ST COLUMBUS'),
        ('Bushwick - Aberdeen', 'BUSHWICK AV'),('Grand Army Plaza', 'GRAND ARMY PLAZ'),('Brooklyn College - Flatbush Ave', 'FLATBUSH AV-B.C'),
        ('Crown Hts - Utica Ave', 'CROWN HTS-UTICA'),('Brooklyn Bridge - City Hall', 'BROOKLYN BRIDGE'), ('West Farms Sq - E Tremont Av', 'WEST FARMS SQ'),
        ('Kew Gardens - Union Tpke', 'KEW GARDENS'),('9th St', '4 AV-9 ST'),('Ave M', 'AVENUE M'),('Far Rockaway - Mott Ave', 'FAR ROCKAWAY'),
        ('Marble Hill - 225th St', 'MARBLE HILL-225'),('52nd St', '52 ST'),('Wakefield - 241st St', 'WAKEFIELD/241'),('42nd St - Bryant Pk', '42 ST-BRYANT PK'),
        ('Clinton - Washington Aves', 'CLINTON-WASH AV'),('Ave X', 'AVENUE X'),('163rd St - Amsterdam Av', '163 ST-AMSTERDM'),
        ('Sutter Ave - Rutland Road', 'SUTTER AV-RUTLD'),('Christopher St - Sheridan Sq', 'CHRISTOPHER ST'),('Astoria - Ditmars Blvd', 'ASTORIA DITMARS'),
        ('Atlantic Av - Pacific St', 'ATL AV-BARCLAY'),('Long Island City - Court Sq', 'COURT SQ'),
        ('Ave J', 'AVENUE J'),('Harlem - 148 St', 'HARLEM 148 ST'),('3rd Ave - 149th St', '3 AV-149 ST'),('Ave N', 'AVENUE N'),('Knickerbocker Ave', 'KNICKERBOCKER'),
        ('Eastern Pkwy - Bklyn Museum', 'EASTN PKWY-MUSM'),('Grand Central - 42nd St', 'GRD CNTRL-42 ST'),('Cortlandt St (NB only)', 'CORTLANDT ST'),
        ('Cortlandt St (Temporarily Closed)', 'CORTLANDT ST'), ('Westchester Sq - E Tremont Ave', 'WESTCHESTER SQ'),('Van Cortlandt Park - 242nd St', 'V.CORTLANDT PK'),
        ('Ave H', 'AVENUE H'),('82nd St - Jackson Hts', '82 ST-JACKSON H'),('E 105th St', 'EAST 105 ST'),('Jay St - Borough Hall', 'JAY ST-METROTEC'),
        ('Bedford - Nostrand Aves', 'BEDFORD-NOSTRAN'),('Bedford Park Blvd', 'BEDFORD PK BLVD'),('116th St - Columbia University', '116 ST-COLUMBIA'),
        ('Canarsie - Rockaway Pkwy', 'CANARSIE-ROCKAW'),('81st St', '81 ST-MUSEUM'),('103rd St - Corona Plaza', '103 ST-CORONA'),('Herald Sq - 34th St', '34 ST-HERALD SQ'),
        ('Myrtle-Willoughby Aves', 'MYRTLE-WILLOUGH'),('5th Ave - 53rd St', '5 AV/53 ST'),('Bay Pky', 'BAY PKWY'),('Union Sq - 14th St', '14 ST-UNION SQ'),
        ('Inwood - 207th St', 'INWOOD-207 ST'),('Ozone Park - Lefferts Blvd', 'OZONE PK LEFFRT'),('Ft Hamilton Pkwy', 'FT HAMILTON PKY'),('Ave I', 'AVENUE I'),
        ('Cathedral Pkwy (110th St)', 'CATHEDRAL PKWY'),('Rockaway Park - Beach 116 St', 'ROCKAWAY PARK B'),('Ave U', 'AVENUE U'),('47th-50th Sts - Rockefeller Ctr', '47-50 STS ROCK'),
        ('W 8th St - NY Aquarium', 'W 8 ST-AQUARIUM'),('Sutphin Blvd - Archer Av', 'SUTPHIN-ARCHER'),('74th St - Broadway', '74 ST-BROADWAY'),
        ('21st St - Queensbridge', '21 ST-QNSBRIDGE'),('World Trade Center', 'WORLD TRADE CTR'),('182nd-183rd Sts', '182-183 STS'),('5th Ave - 59th St', '5 AV/59 ST'),
        ("E 143rd St - St Mary's St", "E 143/ST MARY'S"),('Jamaica - Van Wyck', 'JAMAICA VAN WK'),('90th St - Elmhurst Av', '90 ST-ELMHURST'),
        ('Hunters Point Ave', 'HUNTERS PT AV')}
print("PRINTING PAIRS ")
print("========================")
print(matched_pairs)
print("========================")
print("========================")
print('PRINTING MANUAL')
print(manual_matches)
print("========================")


all_matches = set(list(matched_pairs) + list(manual_matches))
print(all_matches)

PRINTING PAIRS
========================
[('103rd St', '103 ST'), ('104th St', '104 ST'), ('110th St', '110 ST'), ('111th St', '111 ST'), ('116th St', '116 ST'), ('121st St', '121 ST'), ('125th St', '125 ST'), ('135th St', '135 ST'), ('145th St', '145 ST'), ('14th St', '14 ST'), ('155th St', '155 ST'), ('157th St', '157 ST'), ('167th St', '167 ST'), ('168th St', '168 ST'), ('169th St', '169 ST'), ('170th St', '170 ST'), ('174th St', '174 ST'), ('174th-175th Sts', '174-175 STS'), ('175th St', '175 ST'), ('176th St', '176 ST'), ('181st St', '181 ST'), ('183rd St', '183 ST'), ('18th Ave', '18 AV'), ('18th St', '18 ST'), ('190th St', '190 ST'), ('191st St', '191 ST'), ('1st Ave', '1 AV'), ('207th St', '207 ST'), ('20th Ave', '20 AV'), ('215th St', '215 ST'), ('219th St', '219 ST'), ('21st St', '21 ST'), ('225th St', '225 ST'), ('231st St', '231 ST'), ('233rd St', '233 ST'), ('238th St', '238 ST'), ('23rd St', '23 ST'), ('25th Ave', '25 AV'), ('25th St', '25 ST'), ('28th St', '28 ST'), ('30th Ave', '30 AV'), ('33rd St', '33 ST'), ('36th Ave', '36 AV'), ('36th St', '36 ST'), ('39th Ave', '39 AV'), ('3rd Ave', '3 AV'), ('45th St', '45 ST'), ('46th St', '46 ST'), ('49th St', '49 ST'), ('4th Ave', '4 AVE'), ('50th St', '50 ST'), ('51st St', '51 ST'), ('53rd St', '53 ST'), ('55th St', '55 ST'), ('57th St', '57 ST'), ('59th St', '59 ST'), ('65th St', '65 ST'), ('67th Ave', '67 AV'), ('69th St', '69 ST'), ('6th Ave', '6 AV'), ('71st St', '71 ST'), ('75th Ave', '75 AV'), ('77th St', '77 ST'), ('79th St', '79 ST'), ('7th Ave', '7 AV'), ('80th St', '80 ST'), ('86th St', '86 ST'), ('88th St', '88 ST'), ('8th Ave', '8 AV'), ('96th St', '96 ST'), ('9th Ave', '9 AV'), ('9th St', '9 ST'), ('Alabama Ave', 'ALABAMA AV'), ('Allerton Ave', 'ALLERTON AV'), ('Astor Pl', 'ASTOR PL'), ('Astoria Blvd', 'ASTORIA BLVD'), ('Atlantic Ave', 'ATLANTIC AV'), ('Ave H', 'AVE H'), ('Ave I', 'AVE I'), ('Ave J', 'AVE J'), ('Ave M', 'AVE M'), ('Ave N', 'AVE N'), ('Ave P', 'AVE P'), ('Ave U', 'AVE U'), ('Ave X', 'AVE X'), ('Bay 50th St', 'BAY 50 ST'), ('Bay Ridge Ave', 'BAY RIDGE AV'), ('Baychester Ave', 'BAYCHESTER AV'), ('Beach 105th St', 'BEACH 105 ST'), ('Beach 25th St', 'BEACH 25 ST'), ('Beach 36th St', 'BEACH 36 ST'), ('Beach 44th St', 'BEACH 44 ST'), ('Beach 60th St', 'BEACH 60 ST'), ('Beach 67th St', 'BEACH 67 ST'), ('Beach 90th St', 'BEACH 90 ST'), ('Beach 98th St', 'BEACH 98 ST'), ('Bedford Ave', 'BEDFORD AV'), ('Bergen St', 'BERGEN ST'), ('Beverly Rd', 'BEVERLY RD'), ('Borough Hall', 'BOROUGH HALL'), ('Botanic Garden', 'BOTANIC GARDEN'), ('Bowery', 'BOWERY'), ('Bowling Green', 'BOWLING GREEN'), ('Brighton Beach', 'BRIGHTON BEACH'), ('Broad Channel', 'BROAD CHANNEL'), ('Broad St', 'BROAD ST'), ('Broadway', 'BROADWAY'), ('Bronx Park East', 'BRONX PARK EAST'), ('Brook Ave', 'BROOK AV'), ('Buhre Ave', 'BUHRE AV'), ('Burke Ave', 'BURKE AV'), ('Burnside Ave', 'BURNSIDE AV'), ('Canal St', 'CANAL ST'), ('Carroll St', 'CARROLL ST'), ('Castle Hill Ave', 'CASTLE HILL AV'), ('Central Ave', 'CENTRAL AV'), ('Chambers St', 'CHAMBERS ST'), ('Chauncey St', 'CHAUNCEY ST'), ('Church Ave', 'CHURCH AV'), ('City Hall', 'CITY HALL'), ('Clark St', 'CLARK ST'), ('Classon Ave', 'CLASSON AV'), ('Cleveland St', 'CLEVELAND ST'), ('Cortelyou Rd', 'CORTELYOU RD'), ('Crescent St', 'CRESCENT ST'), ('Cypress Ave', 'CYPRESS AV'), ('Cypress Hills', 'CYPRESS HILLS'), ('DeKalb Ave', 'DEKALB AV'), ('Delancey St', 'DELANCEY ST'), ('Ditmas Ave', 'DITMAS AV'), ('Dyckman St', 'DYCKMAN ST'), ('E 149th St', 'E 149 ST'), ('E 180th St', 'E 180 ST'), ('East Broadway', 'EAST BROADWAY'), ('Elder Ave', 'ELDER AV'), ('Elmhurst Ave', 'ELMHURST AV'), ('Essex St', 'ESSEX ST'), ('Euclid Ave', 'EUCLID AV'), ('Flushing Ave', 'FLUSHING AV'), ('Fordham Rd', 'FORDHAM RD'), ('Forest Ave', 'FOREST AVE'), ('Franklin Ave', 'FRANKLIN AV'), ('Franklin St', 'FRANKLIN ST'), ('Freeman St', 'FREEMAN ST'), ('Fresh Pond Rd', 'FRESH POND RD'), ('Fulton St', 'FULTON ST'), ('Gates Ave', 'GATES AV'), ('Graham Ave', 'GRAHAM AV'), ('Grand St', 'GRAND ST'), ('Grant Ave', 'GRANT AV'), ('Greenpoint Ave', 'GREENPOINT AV'), ('Gun Hill Rd', 'GUN HILL RD'), ('Halsey St', 'HALSEY ST'), ('Hewes St', 'HEWES ST'), ('High St', 'HIGH ST'), ('Houston St', 'HOUSTON ST'), ('Hoyt St', 'HOYT ST'), ('Hunts Point Ave', 'HUNTS POINT AV'), ('Intervale Ave', 'INTERVALE AV'), ('Jackson Ave', 'JACKSON AV'), ('Jefferson St', 'JEFFERSON ST'), ('Junction Blvd', 'JUNCTION BLVD'), ('Junius St', 'JUNIUS ST'), ('Kings Hwy', 'KINGS HWY'), ('Kingsbridge Rd', 'KINGSBRIDGE RD'), ('Kingston Ave', 'KINGSTON AV'), ('Kosciuszko St', 'KOSCIUSZKO ST'), ('Lafayette Ave', 'LAFAYETTE AV'), ('Liberty Ave', 'LIBERTY AV'), ('Livonia Ave', 'LIVONIA AV'), ('Longwood Ave', 'LONGWOOD AV'), ('Lorimer St', 'LORIMER ST'), ('Marcy Ave', 'MARCY AV'), ('Metropolitan Ave', 'METROPOLITAN AV'), ('Middletown Rd', 'MIDDLETOWN RD'), ('Montrose Ave', 'MONTROSE AV'), ('Morgan Ave', 'MORGAN AV'), ('Morris Park', 'MORRIS PARK'), ('Mosholu Pkwy', 'MOSHOLU PKWY'), ('Mt Eden Ave', 'MT EDEN AV'), ('Myrtle Ave', 'MYRTLE AV'), ('Nassau Ave', 'NASSAU AV'), ('Neck Rd', 'NECK RD'), ('Neptune Ave', 'NEPTUNE AV'), ('Nevins St', 'NEVINS ST'), ('New Lots Ave', 'NEW LOTS AV'), ('New Utrecht Ave', 'NEW UTRECHT AV'), ('Newkirk Ave', 'NEWKIRK AV'), ('Northern Blvd', 'NORTHERN BLVD'), ('Norwood Ave', 'NORWOOD AV'), ('Nostrand Ave', 'NOSTRAND AV'), ('Ocean Pkwy', 'OCEAN PKWY'), ('Parkchester', 'PARKCHESTER'), ('Parkside Ave', 'PARKSIDE AV'), ('Parsons Blvd', 'PARSONS BLVD'), ('Pelham Bay Park', 'PELHAM BAY PARK'), ('Pelham Pkwy', 'PELHAM PKWY'), ('Pennsylvania Ave', 'PENNSYLVANIA AV'), ('President St', 'PRESIDENT ST'), ('Prince St', 'PRINCE ST'), ('Prospect Ave', 'PROSPECT AV'), ('Prospect Park', 'PROSPECT PARK'), ('Queensboro Plz', 'QUEENSBORO PLZ'), ('Ralph Ave', 'RALPH AV'), ('Rector St', 'RECTOR ST'), ('Rockaway Ave', 'ROCKAWAY AV'), ('Rockaway Blvd', 'ROCKAWAY BLVD'), ('Saratoga Ave', 'SARATOGA AV'), ('Seneca Ave', 'SENECA AVE'), ('Sheepshead Bay', 'SHEEPSHEAD BAY'), ('Shepherd Ave', 'SHEPHERD AV'), ('Simpson St', 'SIMPSON ST'), ('South Ferry', 'SOUTH FERRY'), ('Spring St', 'SPRING ST'), ('St Lawrence Ave', 'ST LAWRENCE AV'), ('Steinway St', 'STEINWAY ST'), ('Sterling St', 'STERLING ST'), ('Sutphin Blvd', 'SUTPHIN BLVD'), ('Sutter Ave', 'SUTTER AV'), ('Tremont Ave', 'TREMONT AV'), ('Union St', 'UNION ST'), ('Utica Ave', 'UTICA AV'), ('Van Siclen Ave', 'VAN SICLEN AV'), ('Wall St', 'WALL ST'), ('Whitehall St', 'WHITEHALL ST'), ('Whitlock Ave', 'WHITLOCK AV'), ('Wilson Ave', 'WILSON AV'), ('Winthrop St', 'WINTHROP ST'), ('Woodhaven Blvd', 'WOODHAVEN BLVD'), ('Woodlawn', 'WOODLAWN'), ('York St', 'YORK ST'), ('Zerega Ave', 'ZEREGA AV')]
========================
========================
PRINTING MANUAL
{('Kingston - Throop Aves', 'KINGSTON-THROOP'), ('Grand Central - 42nd St', 'GRD CNTRL-42 ST'), ('Van Cortlandt Park - 242nd St', 'V.CORTLANDT PK'), ('Myrtle-Willoughby Aves', 'MYRTLE-WILLOUGH'), ('Smith - 9th Sts', 'SMITH-9 ST'), ("E 143rd St - St Mary's St", "E 143/ST MARY'S"), ('Ave I', 'AVENUE I'), ('Ft Hamilton Pkwy', 'FT HAMILTON PKY'), ('Bedford Park Blvd', 'BEDFORD PK BLVD'), ('103rd St - Corona Plaza', '103 ST-CORONA'), ('Queens Plz', 'QUEENS PLAZA'), ('Grand Ave - Newtown', 'GRAND-NEWTOWN'), ('182nd-183rd Sts', '182-183 STS'), ('Ave U', 'AVENUE U'), ('World Trade Center', 'WORLD TRADE CTR'), ('Flushing - Main St', 'FLUSHING-MAIN'), ('Far Rockaway - Mott Ave', 'FAR ROCKAWAY'), ('Cathedral Pkwy (110th St)', 'CATHEDRAL PKWY'), ('5th Ave - 53rd St', '5 AV/53 ST'), ('Crown Hts - Utica Ave', 'CROWN HTS-UTICA'), ('Ave X', 'AVENUE X'), ('Grand Army Plaza', 'GRAND ARMY PLAZ'), ('75th St - Eldert Ln', '75 ST-ELDERTS'), ('Hunters Point Ave', 'HUNTERS PT AV'), ('Westchester Sq - E Tremont Ave', 'WESTCHESTER SQ'), ('74th St - Broadway', '74 ST-BROADWAY'), ('Ave N', 'AVENUE N'), ('Essex St', 'DELANCEY/ESSEX'), ('Atlantic Av - Pacific St', 'ATL AV-BARCLAY'), ('E 105th St', 'EAST 105 ST'), ('Harlem - 148 St', 'HARLEM 148 ST'), ('Jay St - Borough Hall', 'JAY ST-METROTEC'), ('8th St - NYU', '8 ST-NYU'), ('59th St - Columbus Circle', '59 ST COLUMBUS'), ('4th Ave', '4 AV-9 ST'), ('137th St - City College', '137 ST CITY COL'), 'W 4th St - Washington Sq (Lower)', ('Broadway - Nassau St', 'NASSAU ST'), ('Whitehall St', 'WHITEHALL S-FRY'), ('149th St - Grand Concourse', '149/GRAND CONC'), ('Delancey St', 'DELANCEY/ESSEX'), ('5th Ave - Bryant Pk', '5 AVE'), ('Jackson Hts - Roosevelt Av', '82 ST-JACKSON H'), ('W 8th St - NY Aquarium', 'W 8 ST-AQUARIUM'), ('Vernon Blvd - Jackson Ave', 'VERNON-JACKSON'), ('Jamaica - 179th St', 'JAMAICA 179 ST'), ('Rockaway Park - Beach 116 St', 'ROCKAWAY PARK B'), ('Central Park North (110th St)', 'CENTRAL PK N110'), ('Wyckoff Ave', 'MYRTLE-WYCKOFF'), ('Lower East Side - 2nd Ave', '2 AV'), ('Norwood - 205th St', 'NORWOOD 205 ST'), ('Bleecker St (Downtown)', 'BLEECKER ST'), ('Jamaica Ctr - Parsons / Archer', 'JAMAICA CENTER'), ('Nereid Ave (238 St)', 'NEREID AV'), ('Kew Gardens - Union Tpke', 'KEW GARDENS'), ('Astoria - Ditmars Blvd', 'ASTORIA DITMARS'), ('Lexington Ave - 53rd St', 'LEXINGTON AV/53'), ('Aqueduct - North Conduit Av', 'AQUEDUCT N.COND'), ('West Farms Sq - E Tremont Av', 'WEST FARMS SQ'), ('52nd St', '52 ST'), ('Hoyt - Schermerhorn Sts', 'HOYT-SCHER'), ('Howard Beach - JFK Airport', 'HOWARD BCH JFK'), ('116th St - Columbia University', '116 ST-COLUMBIA'), ('66th St - Lincoln Ctr', '66 ST-LINCOLN'), ('163rd St - Amsterdam Av', '163 ST-AMSTERDM'), ('Briarwood - Van Wyck Blvd', 'BRIARWOOD'), ('Ave P', 'AVENUE P'), ('Park Pl', 'PARK PLACE'), ('Inwood - 207th St', 'INWOOD-207 ST'), ('Ozone Park - Lefferts Blvd', 'OZONE PK LEFFRT'), ('63rd Dr - Rego Park', '63 DR-REGO PARK'), ('Wakefield - 241st St', 'WAKEFIELD/241'), ('Long Island City - Court Sq', 'COURT SQ'), ('Herald Sq - 34th St', '34 ST-HERALD SQ'), ('Jamaica - Van Wyck', 'JAMAICA VAN WK'), ('Ave J', 'AVENUE J'), ('42nd St - Bryant Pk', '42 ST-BRYANT PK'), ('Times Sq - 42nd St', 'TIMES SQ-42 ST'), ('Marble Hill - 225th St', 'MARBLE HILL-225'), ('Broadway - Lafayette St', "B'WAY-LAFAYETTE"), ('Ave M', 'AVENUE M'), ('Brooklyn College - Flatbush Ave', 'FLATBUSH AV-B.C'), ('Woodside - 61st St', '61 ST WOODSIDE'), ('Union Sq - 14th St', '14 ST-UNION SQ'), ('3rd Ave - 138th St', '3 AV 138 ST'), ('Broadway Junction', 'BROADWAY JCT'), ('Knickerbocker Ave', 'KNICKERBOCKER'), ('Bedford - Nostrand Aves', 'BEDFORD-NOSTRAN'), ('Clinton - Washington Aves', 'CLINTON-WASH AV'), ('68th St - Hunter College', '68ST-HUNTER CO'), ('90th St - Elmhurst Av', '90 ST-ELMHURST'), ('Ave H', 'AVENUE H'), 'W 4 ST-WASH SQ', ('Roosevelt Island - Main St', 'ROOSEVELT ISLND'), ('Eastchester - Dyre Ave', 'EASTCHSTER/DYRE'), ('Cortlandt St (NB only)', 'CORTLANDT ST'), ('72nd St', '72 ST'), ('Bushwick - Aberdeen', 'BUSHWICK AV'), ('Bay Ridge - 95th St', 'BAY RIDGE-95 ST'), ('Sutter Ave - Rutland Road', 'SUTTER AV-RUTLD'), ('Brooklyn Bridge - City Hall', 'BROOKLYN BRIDGE'), ('Coney Island - Stillwell Av', 'CONEY IS-STILLW'), ('Canarsie - Rockaway Pkwy', 'CANARSIE-ROCKAW'), ('5th Ave - 59th St', '5 AV/59 ST'), ('15th St - Prospect Park', '15 ST-PROSPECT'), ('Sutphin Blvd - Archer Av', 'SUTPHIN-ARCHER'), ('82nd St - Jackson Hts', '82 ST-JACKSON H'), ('Christopher St - Sheridan Sq', 'CHRISTOPHER ST'), ('21st St - Queensbridge', '21 ST-QNSBRIDGE'), ('Forest Hills - 71st Av', 'FOREST HILLS 71'), ('Lexington Ave - 63rd St', 'LEXINGTON AV/63'), ('W 4th St - Washington Sq (Upper)', 'W 4 ST-WASH SQ'), ('3rd Ave - 149th St', '3 AV-149 ST'), ('Bay Pky', 'BAY PKWY'), ('Mets - Willets Point', 'METS-WILLETS PT'), ('9th St', '4 AV-9 ST'), ('138th St - Grand Concourse', '138/GRAND CONC'), ('81st St', '81 ST-MUSEUM'), ('40th St', '40 ST LOWERY ST'), ('Eastern Pkwy - Bklyn Museum', 'EASTN PKWY-MUSM'), ('Cortlandt St (Temporarily Closed)', 'CORTLANDT ST'), ('47th-50th Sts - Rockefeller Ctr', '47-50 STS ROCK'), ('34th St - Penn Station', '34 ST-PENN STA'), ('42nd St - Port Authority Bus Term', '42 ST-PORT AUTH'), ('161st St - Yankee Stadium', '161/YANKEE STAD')}
========================

In [4]:
import urllib.request
import json
import dml
import prov.model
import datetime
import uuid
import statistics
from bson.code import Code

print('starting')
contributor = 'anuragp1_jl101995'
reads = ['anuragp1_jl101995.subway_stations,' 'anuragp1_jl101995.turnstile']
writes = ['anuragp1_jl101995.turnstile_coordinates']


# Set up the database connection.
client = dml.pymongo.MongoClient()
repo = client.repo
repo.authenticate('anuragp1_jl101995', 'anuragp1_jl101995')


turnstile_data = repo.anuragp1_jl101995.turnstile.find()

repo.dropPermanent('turnstile_bydate')
repo.createPermanent('turnstile_bydate')


import pandas as pd 

ts_data = []
for entry in turnstile_data:
    ts_data.append([entry['STATION'], entry['DATE'], entry['ENTRIES']])
df = pd.DataFrame(ts_data, columns = ['STATION', 'DATE', 'ENTRIES'])
print(df)
    
    
print('finished')

starting
                STATION        DATE  ENTRIES
0                 59 ST  09/24/2016  5838478
1                 59 ST  09/24/2016  5838515
2                 59 ST  09/24/2016  5838530
3                 59 ST  09/24/2016  5838635
4                 59 ST  09/24/2016  5838951
5                 59 ST  09/24/2016  5839333
6                 59 ST  09/25/2016  5839510
7                 59 ST  09/25/2016  5839541
8                 59 ST  09/25/2016  5839561
9                 59 ST  09/25/2016  5839659
10                59 ST  09/25/2016  5839863
11                59 ST  09/25/2016  5840123
12                59 ST  09/26/2016  5840224
13                59 ST  09/26/2016  5840240
14                59 ST  09/26/2016  5840307
15                59 ST  09/26/2016  5840490
16                59 ST  09/26/2016  5840833
17                59 ST  09/26/2016  5841712
18                59 ST  09/27/2016  5841926
19                59 ST  09/27/2016  5841952
20                59 ST  09/27/2016  5842003
21                59 ST  09/27/2016  5842160
22                59 ST  09/27/2016  5842521
23                59 ST  09/27/2016  5843424
24                59 ST  09/28/2016  5843601
25                59 ST  09/28/2016  5843616
26                59 ST  09/28/2016  5843666
27                59 ST  09/28/2016  5843846
28                59 ST  09/28/2016  5844156
29                59 ST  09/28/2016  5845070
...                 ...         ...      ...
17791211  RIT-ROOSEVELT  12/29/2014     5554
17791212  RIT-ROOSEVELT  12/29/2014     5554
17791213  RIT-ROOSEVELT  12/29/2014     5554
17791214  RIT-ROOSEVELT  12/29/2014     5554
17791215  RIT-ROOSEVELT  12/29/2014     5554
17791216  RIT-ROOSEVELT  12/29/2014     5554
17791217  RIT-ROOSEVELT  12/30/2014     5554
17791218  RIT-ROOSEVELT  12/30/2014     5554
17791219  RIT-ROOSEVELT  12/30/2014     5554
17791220  RIT-ROOSEVELT  12/30/2014     5554
17791221  RIT-ROOSEVELT  12/30/2014     5554
17791222  RIT-ROOSEVELT  12/30/2014     5554
17791223  RIT-ROOSEVELT  12/31/2014     5554
17791224  RIT-ROOSEVELT  12/31/2014     5554
17791225  RIT-ROOSEVELT  12/31/2014     5554
17791226  RIT-ROOSEVELT  12/31/2014     5554
17791227  RIT-ROOSEVELT  12/31/2014     5554
17791228  RIT-ROOSEVELT  12/31/2014     5554
17791229  RIT-ROOSEVELT  01/01/2015     5554
17791230  RIT-ROOSEVELT  01/01/2015     5554
17791231  RIT-ROOSEVELT  01/01/2015     5554
17791232  RIT-ROOSEVELT  01/01/2015     5554
17791233  RIT-ROOSEVELT  01/01/2015     5554
17791234  RIT-ROOSEVELT  01/01/2015     5554
17791235  RIT-ROOSEVELT  01/02/2015     5554
17791236  RIT-ROOSEVELT  01/02/2015     5554
17791237  RIT-ROOSEVELT  01/02/2015     5554
17791238  RIT-ROOSEVELT  01/02/2015     5554
17791239  RIT-ROOSEVELT  01/02/2015     5554
17791240  RIT-ROOSEVELT  01/02/2015     5554

[17791241 rows x 3 columns]
finished

In [5]:
print('starting')
df_max = df
df_max = df_max.groupby(by=['STATION', 'DATE'], as_index=False)['ENTRIES'].max()
#df_max
print('finished df_max')
df_min = df
df_min = df_min.groupby(by=['STATION', 'DATE'], as_index=False)['ENTRIES'].min()
#df_min
print('finished df_min')
df_min['ENTRIES'] *= -1
print('finished df_min_max')
#df_min

starting
finished df_max
finished df_min
finished df_min_max

In [6]:
temp_df1 = df_max
temp_arr1 = []
for index, row in temp_df1.iterrows():
    row_1 = row[1]
    row_1 = row_1.replace('/', '')
    row_1 = row_1[-4:] + row_1[:-4]
    temp_arr1.append([row[0],int(row_1),row[2]])
    
temp_df1 = pd.DataFrame(temp_arr1, columns = ['STATION', 'DATE', 'ENTRIES'])
temp_df1 = temp_df1.sort(['STATION','DATE'], ascending=[False,True])
temp_df1

//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

           STATION      DATE    ENTRIES
243192  ZEREGA AVE  20150419    1237821
243193  ZEREGA AVE  20150420    1237821
243194  ZEREGA AVE  20150421    1237821
243195  ZEREGA AVE  20150422    1237821
243196  ZEREGA AVE  20150423    1237823
243197  ZEREGA AVE  20150424    1237824
243198  ZEREGA AVE  20150425    1237824
243199  ZEREGA AVE  20150426    1237825
243200  ZEREGA AVE  20150427    1237970
243201  ZEREGA AVE  20150428    1238147
243202  ZEREGA AVE  20150429    1238348
243203  ZEREGA AVE  20150430    1238576
243204  ZEREGA AVE  20150501    1238816
243205  ZEREGA AVE  20150502    1238898
243206  ZEREGA AVE  20150503    1238978
243207  ZEREGA AVE  20150504    1239124
243208  ZEREGA AVE  20150505    1239298
243209  ZEREGA AVE  20150506    1239558
243210  ZEREGA AVE  20150507   52974745
243211  ZEREGA AVE  20150508   52974982
243212  ZEREGA AVE  20150509   52975022
243213  ZEREGA AVE  20150510   52975068
243214  ZEREGA AVE  20150511   52975176
243215  ZEREGA AVE  20150512   52975402
243216  ZEREGA AVE  20150513   52975664
243217  ZEREGA AVE  20150514   52975932
243218  ZEREGA AVE  20150515   52976197
243219  ZEREGA AVE  20150516   52976306
243220  ZEREGA AVE  20150517   52976383
243221  ZEREGA AVE  20150518   52976643
...            ...       ...        ...
244           1 AV  20160901  952972961
245           1 AV  20160902  952975715
246           1 AV  20160903  952978113
247           1 AV  20160904  952980075
248           1 AV  20160905  952981699
249           1 AV  20160906  952984065
250           1 AV  20160907  952986706
251           1 AV  20160908  952989507
252           1 AV  20160909  952992548
253           1 AV  20160910  952995743
254           1 AV  20160911  952998239
255           1 AV  20160912  953000690
256           1 AV  20160913  953003610
257           1 AV  20160914  953006696
258           1 AV  20160915  953009929
259           1 AV  20160916  953013128
260           1 AV  20160917  953016310
261           1 AV  20160918  953018639
262           1 AV  20160919  953021282
263           1 AV  20160920  953024254
264           1 AV  20160921  953027480
265           1 AV  20160922  953030714
266           1 AV  20160923  953033843
267           1 AV  20160924  953036811
268           1 AV  20160925  953039456
269           1 AV  20160926  953042080
270           1 AV  20160927  953044957
271           1 AV  20160928  953048167
272           1 AV  20160929  953051124
273           1 AV  20160930  953054150

[243443 rows x 3 columns]

In [7]:
temp_df1[10000:11000]

               STATION      DATE   ENTRIES
233437  VERNON-JACKSON  20160514  11360860
233438  VERNON-JACKSON  20160515  11362643
233439  VERNON-JACKSON  20160516  11365657
233440  VERNON-JACKSON  20160517  11368914
233441  VERNON-JACKSON  20160518  11372267
233442  VERNON-JACKSON  20160519  11375526
233443  VERNON-JACKSON  20160520  11378731
233444  VERNON-JACKSON  20160521  11380756
233445  VERNON-JACKSON  20160522  11382419
233446  VERNON-JACKSON  20160523  11385470
233447  VERNON-JACKSON  20160524  11388578
233448  VERNON-JACKSON  20160525  11391855
233449  VERNON-JACKSON  20160526  11395178
233450  VERNON-JACKSON  20160527  11398167
233451  VERNON-JACKSON  20160528  11399887
233452  VERNON-JACKSON  20160529  11401449
233453  VERNON-JACKSON  20160530  11402836
233454  VERNON-JACKSON  20160531  11405930
233455  VERNON-JACKSON  20160601  11409034
233456  VERNON-JACKSON  20160602  11412287
233457  VERNON-JACKSON  20160603  11415448
233458  VERNON-JACKSON  20160604  11417522
233459  VERNON-JACKSON  20160605  11418999
233460  VERNON-JACKSON  20160606  11422051
233461  VERNON-JACKSON  20160607  11425244
233462  VERNON-JACKSON  20160608  11428393
233463  VERNON-JACKSON  20160609  11431693
233464  VERNON-JACKSON  20160610  11434990
233465  VERNON-JACKSON  20160611  11436868
233466  VERNON-JACKSON  20160612  11438532
...                ...       ...       ...
232487  VAN SICLEN AVE  20160406   5501354
232489  VAN SICLEN AVE  20160407   5502544
232491  VAN SICLEN AVE  20160408   5503673
232493  VAN SICLEN AVE  20160409   5504395
232495  VAN SICLEN AVE  20160410   5504971
232497  VAN SICLEN AVE  20160411   5506149
232499  VAN SICLEN AVE  20160412   5507303
232501  VAN SICLEN AVE  20160413   5508495
232503  VAN SICLEN AVE  20160414   5509643
232505  VAN SICLEN AVE  20160415   5510804
232507  VAN SICLEN AVE  20160416   5511559
232509  VAN SICLEN AVE  20160417   5512119
232511  VAN SICLEN AVE  20160418   5513209
232513  VAN SICLEN AVE  20160419   5514320
232515  VAN SICLEN AVE  20160420   5515467
232517  VAN SICLEN AVE  20160421   5516596
232519  VAN SICLEN AVE  20160422   5517741
232521  VAN SICLEN AVE  20160423   5518471
232523  VAN SICLEN AVE  20160424   5519103
232525  VAN SICLEN AVE  20160425   5520072
232527  VAN SICLEN AVE  20160426   5520991
232529  VAN SICLEN AVE  20160427   5522013
232531  VAN SICLEN AVE  20160428   5522974
232533  VAN SICLEN AVE  20160429   5523954
232535  VAN SICLEN AVE  20160430   5524613
232537  VAN SICLEN AVE  20160501   5525131
232539  VAN SICLEN AVE  20160502   5526194
232541  VAN SICLEN AVE  20160503   5527320
232543  VAN SICLEN AVE  20160504   5528436
232545  VAN SICLEN AVE  20160505   5529587

[1000 rows x 3 columns]

In [8]:
temp_df = temp_df1
last_station = ''
last_entry = 0
temp_arr = []
last_nonzero = ['place', 0]
for index, row in temp_df.iterrows():
    
    if row[0] == last_station:
        temp =row[2] 
        row_2 = abs(row[2] - last_entry) 
        
        if row_2 == 0:
            if last_nonzero[0] == row[0]:
                row_2 = abs(row[2] - last_nonzero[1])
        else:
            last_nonzero = [row[0], row[2]]     
        if row_2 < 200000 and row_2 != 0:            
            temp_arr.append([row[0], row[1], row_2])
        last_entry = temp  
    
    else:
        temp = row[2]
        row_2 = 0
        last_entry = temp     
        
    last_station = row[0]
    
temp_df = pd.DataFrame(temp_arr, columns = ['STATION', 'DATE', 'ENTRIES'])
temp_df

           STATION      DATE  ENTRIES
0       ZEREGA AVE  20150423        2
1       ZEREGA AVE  20150424        1
2       ZEREGA AVE  20150426        1
3       ZEREGA AVE  20150427      145
4       ZEREGA AVE  20150428      177
5       ZEREGA AVE  20150429      201
6       ZEREGA AVE  20150430      228
7       ZEREGA AVE  20150501      240
8       ZEREGA AVE  20150502       82
9       ZEREGA AVE  20150503       80
10      ZEREGA AVE  20150504      146
11      ZEREGA AVE  20150505      174
12      ZEREGA AVE  20150506      260
13      ZEREGA AVE  20150508      237
14      ZEREGA AVE  20150509       40
15      ZEREGA AVE  20150510       46
16      ZEREGA AVE  20150511      108
17      ZEREGA AVE  20150512      226
18      ZEREGA AVE  20150513      262
19      ZEREGA AVE  20150514      268
20      ZEREGA AVE  20150515      265
21      ZEREGA AVE  20150516      109
22      ZEREGA AVE  20150517       77
23      ZEREGA AVE  20150518      260
24      ZEREGA AVE  20150519      146
25      ZEREGA AVE  20150522      131
26      ZEREGA AVE  20150523      110
27      ZEREGA AVE  20150524       81
28      ZEREGA AVE  20150525       97
29      ZEREGA AVE  20150526      301
...            ...       ...      ...
222205        1 AV  20160901     2594
222206        1 AV  20160902     2754
222207        1 AV  20160903     2398
222208        1 AV  20160904     1962
222209        1 AV  20160905     1624
222210        1 AV  20160906     2366
222211        1 AV  20160907     2641
222212        1 AV  20160908     2801
222213        1 AV  20160909     3041
222214        1 AV  20160910     3195
222215        1 AV  20160911     2496
222216        1 AV  20160912     2451
222217        1 AV  20160913     2920
222218        1 AV  20160914     3086
222219        1 AV  20160915     3233
222220        1 AV  20160916     3199
222221        1 AV  20160917     3182
222222        1 AV  20160918     2329
222223        1 AV  20160919     2643
222224        1 AV  20160920     2972
222225        1 AV  20160921     3226
222226        1 AV  20160922     3234
222227        1 AV  20160923     3129
222228        1 AV  20160924     2968
222229        1 AV  20160925     2645
222230        1 AV  20160926     2624
222231        1 AV  20160927     2877
222232        1 AV  20160928     3210
222233        1 AV  20160929     2957
222234        1 AV  20160930     3026

[222235 rows x 3 columns]

In [9]:
temp_df.describe()

               DATE        ENTRIES
count  2.222350e+05  222235.000000
mean   2.015468e+07    1496.924364
std    4.966950e+03    1680.941504
min    2.014123e+07       1.000000
25%    2.015060e+07     693.000000
50%    2.015111e+07    1331.000000
75%    2.016042e+07    2049.000000
max    2.016093e+07  188991.000000

In [ ]:
count = 0
for index, row in temp_df.iterrows():
    if row[2] == 0:
        count += 1
print(count)

0

In [27]:
# print('Starting')
# client = dml.pymongo.MongoClient()
# repo = client.repo
# repo.authenticate('anuragp1_jl101995', 'anuragp1_jl101995')

# weatherdata = repo.anuragp1_jl101995.weather.find()
# date_weather = []

# repo.dropPermanent('turnstile_weather')
# repo.createPermanent('turnstile_weather')
    
# for w in weatherdata:
#     if int(w['DATE']) >= 20150423:
#         for index, row in temp_df.iterrows():
#             #print('w is ' + str(int(w['DATE'])) + ' and row[1] is ' + str(row[1]))
#             if int(w['DATE']) == row[1]:
#                 #print('MATCH: w is ' + str(w) + ' and row[1] is ' + str(row[1]))
#                 datestring = str(w['DATE'])[4:6] + '/' + str(w['DATE'])[6:8] + '/' + str(w['DATE'])[0:4]
#                 avgtemp = statistics.mean([w['TMAX'], w['TMIN']])
#                 insert_weather = {'Date': datestring, 'AvgTemp': avgtemp, 'Precip': w['PRCP'], 
#                                   'Station' : row[0], 'Entries' : row[2]}
#                 repo.anuragp1_jl101995.turnstile_weather.insert_one(insert_weather)
            
# print('Finished')

In [29]:
# Add daily totals for each turnstile to the mongoDB
repo.dropPermanent('turnstile_total_byday')
repo.createPermanent('turnstile_total_byday')

for entry in temp_arr:
    insert_ts_byday = {'STATION': entry[0], 'DATE': entry[1], 'ENTRIES' : entry[2]}
    repo.anuragp1_jl101995.turnstile_total_byday.insert_one(insert_ts_byday)

temp_df = pd.DataFrame(temp_df.groupby(by=['DATE'])['ENTRIES'].sum())
temp_df

          ENTRIES
DATE
20141228   305733
20141229   517749
20141230   546054
20141231   514681
20150101   304701
20150102   471797
20150103   342883
20150104   281275
20150105   590578
20150106   602415
20150107   596824
20150108   584468
20150109   598951
20150110   362640
20150111   283827
20150112   568123
20150113   613528
20150114   620646
20150115   631327
20150116   631693
20150117   391743
20150118   263288
20150119   395702
20150120   623187
20150121   629977
20150122   629831
20150123   638771
20150124   357524
20150125   300853
20150126   519334
...           ...
20160901   521583
20160902   513648
20160903   335961
20160904   278760
20160905   276359
20160906   504859
20160907   551093
20160908   768454
20160909   665244
20160910   361241
20160911   280724
20160912   509690
20160913   589162
20160914   596451
20160915   608359
20160916   648841
20160917   422823
20160918   329935
20160919   535182
20160920   600861
20160921   608605
20160922   603973
20160923   682638
20160924   371583
20160925   287156
20160926   554719
20160927   594330
20160928   610814
20160929   599277
20160930   577345

[643 rows x 1 columns]

In [30]:
weatherdata = repo.anuragp1_jl101995.weather.find()
date_weather = []

# Collection for associating daily weather with each turnstile entry
repo.dropPermanent('turnstile_weather')
repo.createPermanent('turnstile_weather')

print('Comparing weatherdata and temp_df') ######

for w in weatherdata:
    for index, row in temp_df.iterrows():
    #print('w is ' + str(int(w['DATE'])) + ' and row[1] is ' + str(row[1]))
        if int(w['DATE']) == index:
        #print('MATCH: w is ' + str(w) + ' and row[1] is ' + str(row[1]))
            datestring = str(w['DATE'])[4:6] + '/' + str(w['DATE'])[6:8] + '/' + str(w['DATE'])[0:4]
            avgtemp = statistics.mean([w['TMAX'], w['TMIN']])
            insert_weather = {'Date': datestring, 'AvgTemp': avgtemp, 'Precip': w['PRCP'], 'Entries' : int(row[0])}
            repo.anuragp1_jl101995.turnstile_weather.insert_one(insert_weather)

            break
print('Finished')

Comparing weatherdata and temp_df
Finished

In [2]:
import urllib.request
import json
import dml
import prov.model
import datetime
import uuid
import statistics
from bson.code import Code


contributor = 'anuragp1_jl101995'
# reads = ['anuragp1_jl101995.subway_stations,' 'anuragp1_jl101995.turnstile']
# writes = ['anuragp1_jl101995.turnstile_coordinates']

# Set up the database connection.
client = dml.pymongo.MongoClient()
repo = client.repo
repo.authenticate('anuragp1_jl101995', 'anuragp1_jl101995')




print('Starting')
citibike_data = repo.anuragp1_jl101995.citibike.find()
# "starttime" : "2014-01-01 00:16:13"
cb_data = []
for entry in citibike_data:
    date = entry['starttime']
    date = date[:date.index(' ')]
    if '-' in date:
        date = date.split('-')
    elif '/' in date:
        date = date.split('/') 
    # 5/31/2015 12:12:12
    # date = ['5', '31, '2015']
    # [2015 - 4 - 10]
    
    if len(date[0]) < 2:
        date[0] = '0' + date[0]
    if len(date[1]) < 2:
        date[1] = '0' + date[1]
    if len(date[2]) < 2:
        date[2] = '0' + date[2]
        
    if date[0] in ['2014', '2015', '2016']:
        new_date = date[0] + date[1] + date[2]
        cb_data.append([new_date, entry['start station name']])
        
    elif date[2] in ['2014', '2015', '2016']:
        new_date = date[2] + date[0] + date[1]
        cb_data.append([new_date, entry['start station name']])


print('Finished')

Starting
Finished

In [4]:
import pandas as pd
print('Starting')

cb_df = pd.DataFrame(cb_data, columns = ['date', 'start_station_name'])
cb_df

Starting

              date             start_station_name
0         20140101       Catherine St & Monroe St
1         20140101                1 Ave & E 30 St
2         20140101                E 48 St & 3 Ave
3         20140101              Pershing Square N
4         20140101  Atlantic Ave & Fort Greene Pl
5         20140101               W 59 St & 10 Ave
6         20140101                E 47 St & 1 Ave
7         20140101               W 4 St & 7 Ave S
8         20140101           Division St & Bowery
9         20140101        Lexington Ave & E 26 St
10        20140101       Elizabeth St & Hester St
11        20140101                E 40 St & 5 Ave
12        20140101       Cleveland Pl & Spring St
13        20140101                W 49 St & 8 Ave
14        20140101            Pike St & Monroe St
15        20140101              Pershing Square N
16        20140101            Henry St & Grand St
17        20140101                2 Ave & E 31 St
18        20140101                Dean St & 4 Ave
19        20140101                Dean St & 4 Ave
20        20140101             Broadway & E 14 St
21        20140101        University Pl & E 14 St
22        20140101             Broadway & E 14 St
23        20140101                W 39 St & 9 Ave
24        20140101                W 39 St & 9 Ave
25        20140101        Allen St & Rivington St
26        20140101            Mott St & Prince St
27        20140101                E 25 St & 2 Ave
28        20140101               W 4 St & 7 Ave S
29        20140101                W 17 St & 8 Ave
...            ...                            ...
23695175  20160630                W 49 St & 8 Ave
23695176  20160630                W 27 St & 7 Ave
23695177  20160630       Catherine St & Monroe St
23695178  20160630                Dean St & 4 Ave
23695179  20160630  Christopher St & Greenwich St
23695180  20160630              E 7 St & Avenue A
23695181  20160630                E 75 St & 3 Ave
23695182  20160630        South St & Whitehall St
23695183  20160630                E 47 St & 1 Ave
23695184  20160630            Mott St & Prince St
23695185  20160630        Grand St & Havemeyer St
23695186  20160630                 E 4 St & 2 Ave
23695187  20160630                W 18 St & 6 Ave
23695188  20160630                W 54 St & 9 Ave
23695189  20160630                8 Ave & W 31 St
23695190  20160630             E 60 St & York Ave
23695191  20160630         Forsyth St & Broome St
23695192  20160630        Leonard St & Meeker Ave
23695193  20160630              E 2 St & Avenue B
23695194  20160630                W 25 St & 6 Ave
23695195  20160630                E 39 St & 3 Ave
23695196  20160630            W 13 St & Hudson St
23695197  20160629                  Old Fulton St
23695198  20160629                  Old Fulton St
23695199  20160630                  Old Fulton St
23695200  20160630       Front St & Washington St
23695201  20160630       Front St & Washington St
23695202  20160629        Centre St & Chambers St
23695203  20160630               W 34 St & 11 Ave
23695204  20160629         W Broadway & Spring St

[23695205 rows x 2 columns]

In [5]:
print('Starting')

cb_df['Count'] = cb_df['start_station_name']
counted_cb_df = pd.DataFrame(cb_df.groupby(['date'], as_index=False)['Count'].count())
counted_cb_df

Starting

         date  Count
0    20140101   6059
1    20140102   8600
2    20140103   1144
3    20140104   2292
4    20140105   2678
5    20140106   9510
6    20140107   6267
7    20140108   9246
8    20140109  13354
9    20140110   9847
10   20140111   7695
11   20140112  12515
12   20140113  20633
13   20140114   9999
14   20140115  21630
15   20140116  19953
16   20140117  20301
17   20140118   9438
18   20140119   9028
19   20140120  13407
20   20140121   3804
21   20140122   2451
22   20140123   5071
23   20140124   6176
24   20140125   4338
25   20140126   4980
26   20140127  13119
27   20140128  10033
28   20140129  10021
29   20140130  12158
..        ...    ...
878  20160601  54665
879  20160602  54401
880  20160603  38975
881  20160604  40977
882  20160605  22397
883  20160606  52149
884  20160607  51812
885  20160608  42250
886  20160609  52905
887  20160610  53299
888  20160611  41030
889  20160612  40637
890  20160613  49069
891  20160614  54813
892  20160615  55049
893  20160616  46198
894  20160617  54236
895  20160618  48901
896  20160619  45270
897  20160620  52247
898  20160621  53564
899  20160622  55749
900  20160623  53206
901  20160624  54186
902  20160625  43000
903  20160626  42992
904  20160627  47023
905  20160628  49593
906  20160629  54882
907  20160630  54843

[908 rows x 2 columns]

In [6]:
weatherdata = repo.anuragp1_jl101995.weather.find()
date_weather = []

# Collection for associating daily weather with each turnstile entry
repo.dropPermanent('citibike_weather')
repo.createPermanent('citibike_weather')

print('Comparing weatherdata and counted_cb_df') ######

for w in weatherdata:
    for index, row in counted_cb_df.iterrows():
        #print('weather: ' + str(w['DATE']))
        #print('Citibike: ' + str(row[0]))
        
        if int(float(w['DATE'])) == int(row[0]):
            #print('MATCH: w is ' + str(w) + ' and row[1] is ' + str(row[1]))
            datestring = str(w['DATE'])[4:6] + '/' + str(w['DATE'])[6:8] + '/' + str(w['DATE'])[0:4]
            avgtemp = statistics.mean([w['TMAX'], w['TMIN']])
            insert_weather = {'Date': datestring, 'AvgTemp': avgtemp, 'Precip': w['PRCP'], 'Citibike_Usage' : int(row[1])}
            repo.anuragp1_jl101995.citibike_weather.insert_one(insert_weather)

            break
print('Finished')

Comparing weatherdata and counted_cb_df
Finished